/* Banner */
/* .logo {
  font-family: "Sofia", sans-serif;
} */

.words1 {

  font-weight: 600;
  line-height: 0.8;
}


.words1 span {
  font-size: 3rem;

  display  : inline-flex;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }

  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

/* Section 1 */
#section1 {
  font-family    : "Archivo Black", sans-serif;
  /* background     : #e7dbdb; */
  /* background-color:rgba(97, 241, 176, 0.925) ; */
  background: rgba(235, 235, 236, 0.507);
  background: linear-gradient(90deg, rgba(130,130,152,1) 0%, rgba(130,130,152,1) 0%, rgba(205,205,226,1) 24%, rgba(14,155,184,1) 65%, rgba(14,184,162,1) 98%);
  /* background:linear-gradient(to right, rgba(170, 211, 253, 0.913)30deg,rgba(3, 22, 26, 0.619)90deg,rgba(22, 8, 0, 0.692)145deg); */
  flex-direction : column;
  display        : flex;
  flex-direction : column;
  height         : 100vh;
  justify-content: left;
  align-items    : left;
  margin: 0;
}

.words {
  /* color      : #e6d3d3ec; */
  /* color: rgba(116, 247, 188, 0.838); */
  color: rgba(223, 223, 223, 0.089);
  font-size  : 0;
  font-weight: 600;
  line-height: 1.5;
}

.navbar {
  font-family: cursive;
  font-size  : 0;
  background-color:#03153B;

}

.words span {
  font-size: 5rem;
  display  : inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }

  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }

  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

/* Section 2..................................................................................................... */

#section2 {
  padding-top        : 10px;
  color              : #fff;
 
  /* background-color: #dcdcd870; */
  background-color   : #34415c;
}

#section2 h2 {
  font-family: cursive;
}

.card {
  box-shadow : 0 4px 8px 0 rgba(5, 5, 5, 0.799);
  max-width  : 300px;
  min-height: 410px;
  margin     : 10px;
  text-align : center;
  font-family: arial;
}

.card:hover {
  box-shadow      : 0 2px 2px 0 rgba(237, 235, 235, 0.354);
  border          : 2px solid #2e384d;
  background-color: #313c58;
  opacity         : 100%;
}


.title {
  color    : rgb(67, 12, 12);
  font-size: 18px;
}

.button1 {
  border          : none;
  outline         : 0;
  display         : inline-block;
  padding-bottom         : 8px;
  color           : white;
  background-color: #000;
  text-align      : center;
  cursor          : pointer;
  width           : 100%;
  font-size       : 18px;
  background-position: bottom 0 right 100px;
}

a {
  text-decoration: none;
  font-size      : 22px;
  color          : black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

/*Section 3 ............................................ */
#section3 {
  padding-top     : 10px;
  color           : #fff;
  /* height          : 100%; */

  /* background-color: #6e6ef456; */
  height: 100vh;
  background-size: cover;
  
  background-attachment: fixed;
  background-position: center;
  background:linear-gradient( rgba(4, 12, 48, 0.760) 35%, rgba(18,53,84)60%),url("./images/contact1.jpg");
  display: flex;
  background-repeat: no-repeat;
  align-items: center;

}

#section3 h1 {
  font-family: cursive;

}
#section3  .tcenter{
  display: block;
  align-items: center;

}




/*Section 41 .................................................... */

#section41 {
 padding-top     : 10px;
  color           : #fff;
  /* height          : 100%; */

  /* background-color: #6e6ef456; */
  height: 100vh;
  background-size: cover;
  
  background-attachment: fixed;
  background-position: center;
  background:linear-gradient( rgba(38, 51, 107, 0.76) 35%, rgb(37, 67, 69)60%),url("./images/bolero.webp");
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
}

/* modal ,....................................*/
.modal-conten{
  
  margin: 0;
  padding: 0;
}
.modal-header{
  margin: 0;
  padding: 0;
  background-color: #98b5f3;
}
.modal-body{
  margin: 0;
  padding: 0;
  border: 9px;
  border-color: #001F61;
}


.cd-container {
width: 90%;
max-width: 1080px;
margin: 0 auto;
background: #2B343A;
padding: 0;
border-radius: 2px;
}
.cd-container::after {
content: '';
display: table;
clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
position: relative;
padding: 1px;
margin: 1px;
width: inherit;
height: inherit;
margin-bottom: 0;
}
#cd-timeline::before {
content: '';
position: absolute;
top: 0;
left: 25px;
height: 100%;
width: 4px;
background: #7E57C2;
}
@media only screen and (min-width: 1170px) {
#cd-timeline {
  margin-top: 2px;
  margin-bottom: 2px;
}
#cd-timeline::before {
  left: 50%;
  margin-left: -2px;
}
}

.cd-timeline-block {
position: relative;
margin: 2em 0;
}
.cd-timeline-block:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-block:first-child {
margin-top: 0;
}
.cd-timeline-block:last-child {
margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-block {
  margin: 4em 0;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
}

.cd-timeline-img {
position: absolute;
top: 8px;
left: 12px;
width: 30px;
height: 30px;
border-radius: 50%;
box-shadow: 0 0 0 4px #7E57C2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img {
background: #673AB7;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-img {
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: 15px;
  /* Force Hardware Acceleration in WebKit */

}
}

.cd-timeline-content {
position: relative;
margin-top: 4px;
margin-bottom: 4px;
margin-left: 60px;
margin-right: 30px;
background: #333C42;
border-radius: 2px;
padding: 1em;


}
.timeline-content-info {
  background: #2B343A;
  padding: 5px 10px;
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;

  @media (max-width: 500px) {
    .timeline-content-info-title, .timeline-content-info-date {  
      display: block;
      width:100%;
    } 
  }
}
i {
  margin-right: 5px;
}
.timeline-content-info-title, .timeline-content-info-date {  
  width: calc(50% - 2px);
  display: inline-block;
}
.cd-timeline-content .content-skills {
  font-size: 12px;
  padding:0;
  margin-bottom: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.cd-timeline-content .content-skills li {
  background: #40484D;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255,255,255,0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}
.cd-timeline-content:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-content h3 {
color: rgb(183, 190, 255);
margin-top:0;
margin-bottom: 5px;


}
.cd-timeline-content p, .cd-timeline-content .cd-date {
color: rgba(255,255,255,.7);
font-size: 13px;
font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
display: inline-block;
}
.cd-timeline-content p {
margin: 1em 0;
line-height: 1.6;
}

.cd-timeline-content::before {
content: '';
position: absolute;
top: 16px;
right: 100%;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
.cd-timeline-content h2 {
  font-size: 20px;
  font-size: 1.25rem;
}
.cd-timeline-content p {
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 14px;
  font-size: 0.875rem;
}

}

@media only screen and (min-width: 1170px) {
.cd-timeline-content {
  color: white;
  margin-left: 0;
  padding: 1.6em;
  width: 36%;
  margin: 0 5%
}
.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: #333C42;
}
.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: #333C42;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
  float: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}
}



/* .................................................................... */

#myCarousel{

}

.close-btn{
  background-color: rgba(0, 0, 0, 0);
  
}




















/* SOCIAL PANEL CSS */
.social-panel-container {
  position  : fixed;
  right     : 0;
  bottom    : 80px;
  transform : translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
  transform: translateX(10px);
}

.social-panel {
  background-color: rgba(252, 165, 165, 0.073);
  border-radius   : 16px;
  box-shadow      : 0 16px 31px -17px rgba(0, 31, 97, 0.6);
  border          : 5px solid #001F61;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  align-items     : center;
  font-family     : 'Muli';
  position        : relative;
  height          : 169px;
  width           : 370px;
  max-width       : calc(100% - 10px);
}

.social-panel button.close-btn {
  border   : 0;
  color    : #97A5CE;
  cursor   : pointer;
  font-size: 20px;
  position : absolute;
  top      : 5px;
  right    : 5px;
}

.social-panel button.close-btn:focus {
  outline: none;
}

.social-panel p {
  background-color: #001F61;
  border-radius   : 0 0 10px 10px;
  color           : #fff;
  font-size       : 14px;
  line-height     : 18px;
  padding         : 2px 17px 6px;
  position        : absolute;
  top             : 0;
  left            : 50%;
  margin          : 0;
  transform       : translateX(-50%);
  text-align      : center;
  width           : 235px;
}

.social-panel p i {
  margin: 0 5px;
}

.social-panel p a {
  color          : #FF7500;
  text-decoration: none;
}

.social-panel h4 {
  margin        : 20px 0;
  color         : #97A5CE;
  font-family   : 'Muli';
  font-size     : 14px;
  line-height   : 18px;
  text-transform: uppercase;
}

.social-panel ul {
  display        : flex;
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

.social-panel ul li {
  margin: 0 10px;
}

.social-panel ul li a {
  border         : 1px solid #DCE1F2;
  border-radius  : 50%;
  color          : #001F61;
  font-size      : 20px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 50px;
  width          : 50px;
  text-decoration: none;
}

.social-panel ul li a:hover {
  border-color: #FF6A00;
  box-shadow  : 0 9px 12px -9px #FF6A00;
}

.floating-btn {
  border-radius   : 26.5px;
  background-color: #001F61;
  border          : 1px solid #001F61;
  box-shadow      : 0 16px 22px -17px #03153B;
  color           : #fff;
  cursor          : pointer;
  font-size       : 16px;
  line-height     : 20px;
  padding         : 12px 20px;
  position        : fixed;
  bottom          : 20px;
  right           : 20px;
  z-index         : 999;
}

.floating-btn:hover {
  background-color: #ffffff;
  color           : #001F61;
}

.floating-btn:focus {
  outline: none;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pannel{
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


